	/* Цвета */
$white: #ffffff;
$black: #000000;

$red: #ff0000;
$blue: #0000ff;
$green: green;

	/* Анимация */
$transition-4: all 0.4s;
$transition-base: $transition-4;

	/* Background */
$background-base: rgba($white, 0.8);

	/* Базовый размер и цвет на странице */
$font-size-base: 14px;
$font-color-base: $black;