	/* Сброс стилей					- core 				*/	
@import "core/reset.pcss";

	/* Подключение базовых стилей 	- core 				*/
@import "core/constant.pcss";
@import "core/common.pcss";

	/* Подключение встраиваемых стилей 	- includes 		*/	
@import "includes/vue-datetime.pcss";

	/* Подключение интерфейсов 		- modules/interfaces*/	
@import "modules/interfaces/home-page.pcss";
